<section class="c-home">
    <div class="c-home__logo" style="--hover-bg:{{color1}};">
        <img srcset="/img/logos/meriton-mark.v1.png, /img/logos/meriton-mark@2.v1.png 2x"
            src="/img/logos/meriton-mark.v1.png"
            width="136" height="141" alt="Meriton" />
    </div>
    <a class="c-home__tl" href="/portfolio" style="--hover-bg:{{color2}};">Portfolio</a>
    <a class="c-home__tr" href="/approach" style="--hover-bg:{{color3}};">Approach</a>
    <a class="c-home__bl" href="/about" style="--hover-bg:{{color4}};">About</a>
    <a class="c-home__br" href="/contact" style="--hover-bg:{{color5}};">Contact</a>
</section>