<section class="c-portfolio-hero">
    <div class="c-portfolio-hero__col">
        <h1 class="c-portfolio-hero__hdr">{{{header}}}</h1>
    </div>
    <div class="c-portfolio-hero__col">
        <div class="c-portfolio-hero__bg" style="--bg-img:url({{image.url}});--bg-img-twox:url({{image.twoX.url}});"></div>
    </div>
</section>
<section class="c-portfolio-logos">
    {{#each portfolioItems}}
        <a href="#" data-target="{{id}}">
            <img src="{{white_logo.url}}"
                width="{{white_logo.dimensions.width}}"
                height="{{white_logo.dimensions.height}}"
                alt="{{white_logo.alt}}"
                loading="lazy" />
        </a>
    {{/each}}
</section>
<section class="c-portfolio-grid">
    <div class="c-portfolio-grid__col">
        {{#each leftColItems}}
            <div data-id="{{id}}" class="c-portfolio-grid__cell {{className}}">
                <a class="c-portfolio-grid__item" href="{{url}}" style="--bg-img:url({{primaryImage.url}});--bg-img-twox:url({{primaryImage.twoX.url}});">
                    {{#if hasSlides}}
                        <div class="c-portfolio-grid__item-slides">
                            {{#each portfolio_grid_images}}
                                <div class="c-portfolio-grid__item-slide {{#if @first}}--is-visible{{/if}}" style="--bg-img:url({{image.url}});--bg-img-twox:url({{image.twoX.url}});"></div>
                            {{/each}}
                        </div>
                    {{/if}}
                    <div class="c-portfolio-grid__item-content">
                        <span class="c-portfolio-grid__item-name">{{company_name}}</span>
                        <p class="c-portfolio-grid-item__desc">{{grid_description}}</p>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
    <div class="c-portfolio-grid__col">
        {{#each rightColItems}}
            {{#if isFirstSplit}}
                <div class="c-portfolio-grid__split-container">
            {{/if}}
            <div data-id="{{id}}" class="c-portfolio-grid__cell {{className}}">
                <a class="c-portfolio-grid__item" href="{{url}}" style="--bg-img:url({{primaryImage.url}});--bg-img-twox:url({{primaryImage.twoX.url}});">
                    {{#if hasSlides}}
                        <div class="c-portfolio-grid__item-slides">
                            {{#each portfolio_grid_images}}
                                <div class="c-portfolio-grid__item-slide" style="--bg-img:url({{image.url}});--bg-img-twox:url({{image.twoX.url}});"></div>
                            {{/each}}
                        </div>
                    {{/if}}
                    <div class="c-portfolio-grid__item-content">
                        <span class="c-portfolio-grid__item-name">{{company_name}}</span>
                        <p class="c-portfolio-grid-item__desc">{{grid_description}}</p>
                    </div>
                </a>
            </div>
            {{#if isEndSplit}}
                </div>
            {{/if}}
        {{/each}}
    </div>
</section>